.form-content{
   
}

.form-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-content form .input-content{
    line-height: 50px;
    margin-top: 20px;
    position: relative;
}

.form-content form .input-content .in{
    width: 100%;
    padding-left: 30px;
    border-radius: 0.2em;
    border: 1px dotted var(--firstcolor-hover);
    outline: none;
    color: black;
    transition: all .3s ease;
}

.form-content form .input-content .in:focus{
    transition: all .3s ease;
    border: solid 1px var(--firstcolor-hover);
    box-shadow: 0 0 10px 2px var(--firstcolor-hover-white);
}

.form-content form .input-content label{
    position: absolute;
    font-size: 10px;
    color: var(--firstcolor-hover);
    top: -35px;
    left: 20px;
}

.form-content form .input-content .in::placeholder{
    color: var(--firstcolor-hover);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-content form .input-content .prefix{
    position: absolute;
    left: 10px;
    top: 2px;
    bottom: 0;
    color: var(--firstcolor-hover);
}

.form-content form .input-content .suffix{
    position: absolute;
    right: 10px;
    top: 2px;
    bottom: 0;
    color: var(--firstcolor-hover);
    cursor: pointer;
}

.form-content form .btn{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-content .btn-fab-close{
    position: absolute;
    top: 10px;
    right: 10px;
}