<div class="form-content">
    <button *ngIf="modalAction!='Agregar'" class="btn btn-fab-close" (click)="actiModal.close()"><i class="bi bi-x"></i></button>
    
        <input #img type="file" accept=".pdf" (change)="fileEvent($event)" hidden>
        <p style="color: green;">{{exito}}</p>
    <!-- <p *ngIf="src_documento==''" class="text-info" style="margin-inline: 30px;text-align: center;">Por favor cargue el
        documento presionado sobre la imagen de arriba</p> -->
        <div style="display:flex; margin-bottom: 20px;" >
        <button class="btn btn-firstcolor" (click)="loadScanner()">Escanear documento</button>  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <button class="btn btn-firstcolor" (click)="img.click()">Subir documento</button>
        </div>
            
            <form action="" class="form-complete">
        <div class="scrollbar" id="style-1">

        <div class="input-content">
            <label for="secretos">No</label>
            <i class="bi bi-123 prefix"></i>
            <input type="number" class="in" name="no" id="no" placeholder="no" [(ngModel)]="secretos.no" readonly>
            <p style="color: red;">{{errorN}}</p>
        </div>
   
        <div class="input-content">
            <label for="secretos">Lugar</label>
            <i class="bi bi-person prefix"></i>
            <input type="text" class="in" name="lugar" id="lugar" placeholder="lugar" [(ngModel)]="secretos.lugar">
        </div>

        <div class="input-content">
            <label for="secretos">Reg no</label>
            <i class="bi bi-person prefix"></i>
            <input type="text" class="in" name="regNo" id="regNo" placeholder="regNo" [(ngModel)]="secretos.reg_no">
        </div>

        <div class="input-content">
            <label for="secretos">Titulo</label>
            <i class="bi bi-person prefix"></i>
            <input type="text" class="in" name="titulo" id="titulo" placeholder="titulo" [(ngModel)]="secretos.titulo">
        </div>

        <div class="input-content">
            <label for="secretos">Categoria</label>
            <i class="bi bi-person prefix"></i>
            <input type="text" class="in" name="categoria" id="categoria" placeholder="categoria" [(ngModel)]="secretos.categoria">
        </div>

        <div class="input-content">
            <label for="secretos">Mat No</label>
            <i class="bi bi-123 prefix"></i>
            <input type="number" class="in" name="matNo" id="matNo" placeholder="matNo" [(ngModel)]="secretos.mat_no">
        </div>

        <div class="input-content">
            <label for="secretos">Folio No</label>
            <i class="bi bi-123 prefix"></i>
            <input type="number" class="in" name="folioNo" id="folioNo" placeholder="folioNo" [(ngModel)]="secretos.folio_no">
        </div>

        <div class="input-content">
            <label for="secretos">Cant</label>
            <i class="bi bi-123 prefix"></i>
            <input type="number" class="in" name="cant" id="cant" placeholder="cant" [(ngModel)]="secretos.cant">
        </div>

        <div class="input-content">
            <label for="secretos">No Ejemplar</label>
            <i class="bi bi-123 prefix"></i>
            <input type="number" class="in" name="noEjemplar" id="noEjemplar" placeholder="noEjemplar" [(ngModel)]="secretos.no_ejemplar">
        </div>

        <div class="input-content">
            <label for="secretos">Cant Hojas</label>
            <i class="bi bi-123 prefix"></i>
            <input type="number" class="in" name="cantHojas" id="cantHojas" placeholder="cantHojas" [(ngModel)]="secretos.cant_hojas">
        </div>

        <div class="input-content">
            <label for="secretos">Destruccion</label>
            <i class="bi bi-person prefix"></i>
            <input type="text" class="in" name="destruccion" id="destruccion" placeholder="destruccion" [(ngModel)]="secretos.destruccion">
        </div>

        <div class="input-content">
            <label for="secretos">Destino</label>
            <i class="bi bi-person prefix"></i>
            <input type="text" class="in" name="destino" id="destino" placeholder="destino" [(ngModel)]="secretos.destino">
        </div>

        <div class="input-content">
            <label for="secretos">Comp</label>
            <i class="bi bi-person prefix"></i>
            <input type="text" class="in" name="comp" id="comp" placeholder="comp" [(ngModel)]="secretos.comp">
        </div>
        
                </div>
        <button class="btn btn-firstcolor" [disabled]="!validarCamposVacios()" (click)="addUpdateSecretos()"> {{modalAction}}</button>
               
    </form>
</div>


