.contenedor-modals{
    width: fit-content;
    height: auto;
    background-color:white;
    border-radius: 0.5em;
    padding: 20px;
    /* border: 1px solid var(--firstcolor); */
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
}

.contenedor-modals .seleccionable-modals{
    padding: 20px;
}

.contenedor-modals .seleccionable-modals p{
    color: var(--firstcolor);
}

.contenedor-modals .seleccionado-modals{
    margin-top: 10px;
}

.contenedor-modals .btn-fab-close{
    position: absolute;
    top: 10px;
    right: 10px;
}