<div class="contenedor" id="cont">
    <div class="title-page">
        <div class="title-logo">
            <i class="bi bi-person text-oscuro"></i>
            <h1 class="title text-oscuro" style="margin-top:-15px">Ordinarios Personal</h1>
        </div>
        <p class="text-oscuro">Ordinarios Personal registrados en el sistema</p>
 
        <div>
        <button id="newDoc" class="btn-firstcolor btn" (click)="addOrdinariosP()">Nuevo Documento 
            <i style="font-size: 20px;" class="bi bi-file-earmark-plus"></i>
            </button>

            <button id="deleteAll" class="btn btn-firstcolor"  style="margin-right: 200px;">Eliminar Todo
                <i style="margin:5px; font-size: 20px;" class="bi bi-trash"></i>
            </button>
               </div>
         </div>
      
    <table class="tablas">
        <thead class="head">
            <td colspan="1"></td>
            <td colspan="2">id</td>
            <td colspan="3">no</td>
            <td colspan="4">fecha</td>
            <td colspan="5">archivo</td>
            <td colspan="6">asunto</td>
            <td colspan="7">destino</td>
            <td colspan="8">procedencia</td>
            <td colspan="9">imagen</td>
            <td colspan="10">acciones</td>
        </thead>
        <tr *ngFor="let item of ordinario_personal" class="ligth" (click)="detailToggle(item)">
            <td colspan="1"><input type="checkbox"></td>
            <td colspan="2">{{item.id}}</td>
            <td colspan="3">{{item.no}}</td>
            <td colspan="4">{{item.fecha}}</td>
            <td colspan="5">{{item.archivo}}</td>
            <td colspan="6">{{item.asunto}}</td>
            <td colspan="7">{{item.destino}}</td>
            <td colspan="8">{{item.procedencia}}</td>
            <td colspan="9"><img [src]="item.imagen" alt="" width="80" height="80"></td>
            
            <td colspan="10"><button class="btn btn-firstcolor" (click)="editOrdinariosP(item)"><i class="bi bi-pencil"></i></button></td>
            <td colspan="11"><button (click)="deleteOrdinariosP(item.id)" class="btn btn-firstcolor"><i class="bi bi-trash"></i></button></td>
     
        </tr>
    </table>
</div>


