<div class="form-content">
    <button class="btn btn-fab-close" (click)="actiModal.close()"><i class="bi bi-x"></i></button>
    <div class="image-content">
        <i class="bi bi-file-earmark-medical"></i>
    </div>
    <form action="" class="form-complete">
        <div class="input-content">
            <label for="no">No</label>
            <i class="bi bi-123 prefix"></i>
            <input type="text" class="in" name="no" id="no" placeholder="no" [(ngModel)]="ordinario.no">
        </div>
        <div class="input-content">
            <label for="lugar">Lugar</label>
            <i class="bi bi-calendar prefix"></i>
            <input type="text" class="in" name="lugar" id="lugar" placeholder="lugar" [(ngModel)]="ordinario.lugar">
        </div>
        <div class="input-content">
            <label for="reg_no">Reg no</label>
            <i class="bi bi-send prefix"></i>
            <input type="text" class="in" name="reg_no" id="reg_no" placeholder="reg_no" [(ngModel)]="ordinario.reg_no">
        </div>
        <div class="input-content">
            <label for="titulo">Título</label>
            <i class="bi bi-chat-square-dots prefix"></i>
            <input type="text" class="in" name="titulo" id="titulo" placeholder="título" [(ngModel)]="ordinario.titulo">
        </div>
        <div class="input-content">
            <label for="categoria">Categoría</label>
            <i class="bi bi-shop prefix"></i>
            <input type="text" class="in" name="categoria" id="categoria" placeholder="categoría"
                [(ngModel)]="ordinario.categoria">
        </div>
        <div class="input-content">
            <label for="mat_no">Mat no</label>
            <i class="bi bi-calendar-event prefix"></i>
            <input type="text" class="in" name="mat_no" id="mat_no" placeholder="mat_no" [(ngModel)]="ordinario.mat_no">
        </div>
        <div class="input-content">
            <label for="folio_no">Folio No</label>
            <i class="bi bi-123 prefix"></i>
            <input type="text" class="in" name="folio_no" id="folio_no" placeholder="folio_no"
                [(ngModel)]="ordinario.folio_no">
        </div>
        <div class="input-content">
            <label for="cant">Cantidad</label>
            <i class="bi bi-calendar prefix"></i>
            <input type="text" class="in" name="cant" id="cant" placeholder="cantidad" [(ngModel)]="ordinario.cant">
        </div>
        <div class="input-content">
            <label for="no_ejemplar">No Ejemplar</label>
            <i class="bi bi-send prefix"></i>
            <input type="text" class="in" name="no_ejemplar" id="no_ejemplar" placeholder="no_ejemplar"
                [(ngModel)]="ordinario.no_ejemplar">
        </div>
        <div class="input-content">
            <label for="cant_hojas">Cantidad de hojas</label>
            <i class="bi bi-chat-square-dots prefix"></i>
            <input type="text" class="in" name="cant_hojas" id="cant_hojas" placeholder="Cantidad de hojas"
                [(ngModel)]="ordinario.cant_hojas">
        </div>

<div class="input-content">
    <label for="destruccion">Destrucción</label>
    <i class="bi bi-calendar-event prefix"></i>
    <input type="text" class="in" name="destruccion" id="destruccion" placeholder="Destrucción"
        [(ngModel)]="ordinario.destruccion">
</div>
<div class="input-content">
    <label for="destino">Destino</label>
    <i class="bi bi-shop prefix"></i>
    <input type="text" class="in" name="destino" id="destino" placeholder="destino" [(ngModel)]="ordinario.destino">
</div>
    <div class="input-content">
        <label for="comp">Comp</label>
        <i class="bi bi-calendar-event prefix"></i>
        <input type="text" class="in" name="comp" id="comp" placeholder="comp"
            [(ngModel)]="ordinario.comp">
    </div>

        <button class="" style="visibility: hidden;" (click)="aceptar.click()"> Agregar</button>
 </form>

        <button #aceptar class="btn btn-aceptar btn-firstcolor" (click)="addOrUpdateOrdinario()"> Agregar</button>
    </div>