<div class="form-content w-100 d-flex flex-column justify-content-center align-items-center">
    <!-- <button  class="btn btn-fab-close" (click)="actiModal.close()"><i
            class="bi bi-x"></i></button> -->

    <input #img type="file" accept=".pdf" (change)="fileEvent($event)" hidden>
    <p style="color: green;">{{exito}}</p>
    <!-- <p *ngIf="src_documento==''" class="text-info" style="margin-inline: 30px;text-align: center;">Por favor cargue el
        documento presionado sobre la imagen de arriba</p> -->
    <div style="display:flex; margin-bottom: 20px;">
        <button class="btn-firstcolor" (click)="loadScanner()">Escanear documento</button> &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp;
        <button class="btn-firstcolor" (click)="img.click()">Subir documento</button>
    </div>
    <form action="" >
        <div class="scrollbar" id="style-1">
            <div class="input-content">
                <label for="usuario">Tipo de documento</label>
                <i class="bi bi-files prefix"></i>
                <select type="text" class="in" name="rol"
                    style="height: 50px;color: var(--firstcolor-hover);background-color: white;" id="tipo"
                    placeholder="tipo" [(ngModel)]="clasificados.tipo">
                    <option value="1">emitido</option>
                    <option value="2">recibido</option>
                </select>
            </div>
            <div class="input-content">
                <label for="clasificados">No</label>
                <i class="bi bi-123 prefix"></i>
                <input type="number" class="in" name="no" id="no" placeholder="no" [(ngModel)]="clasificados.no"
                    readonly>
                <p style="color: red;">{{errorN}}</p>
            </div>

            <div class="input-content">
                <label for="clasificados">Fecha</label>
                <i class="bi bi-calendar-date prefix"></i>
                <input type="date" class="in" name="fecha" [max]="minDate" id="fecha" [(ngModel)]="clasificados.fecha"
                    (ngModelChange)="change()" onkeydown="return false">
            </div>


            <div class="input-content">
                <label for="clasificados">Enviado</label>
                <i class="bi bi-send prefix"></i>
                <input type="text" class="in" name="enviado" id="enviado" placeholder="enviado"
                    [(ngModel)]="clasificados.enviado">
            </div>


            <div class="input-content">
                <label for="clasificados">Rsb</label>
                <i class="bi bi-file-earmark prefix"></i>
                <input type="text" class="in" name="rsb" id="rsb" placeholder="rsb" [(ngModel)]="clasificados.rsb">
            </div>

            <div class="input-content">
                <label for="clasificados">Rs</label>
                <i class="bi bi-file-earmark prefix"></i>
                <input type="text" class="in" name="rs" id="rs" placeholder="rs" [(ngModel)]="clasificados.rs">
            </div>

            <div class="input-content">
                <label for="clasificados">Fecha registro ctc</label>
                <i class="bi bi-calendar-date prefix"></i>
                <input type="date" class="in" [min]="clasificados.fecha" name="fechaRegistroCtc" id="fechaRegistroCtc"
                    [(ngModel)]="clasificados.fecha_registro_ctc" onkeydown="return false">
            </div>


            <div class="input-content">
                <label for="clasificados">Asunto</label>
                <i class="bi bi-file-font prefix"></i>
                <input type="text" class="in" name="asunto" id="asunto" placeholder="asunto"
                    [(ngModel)]="clasificados.asunto">
            </div>


            <div class="input-content">
                <label for="clasificados">Doc</label>
                <i class="bi bi-file-earmark-text prefix"></i>
                <input type="text" class="in" name="doc" id="doc" placeholder="doc" [(ngModel)]="clasificados.doc">
            </div>


            <div class="input-content">
                <label for="clasificados">Ej</label>
                <i class="bi bi-file-earmark prefix"></i>
                <input type="text" class="in" name="ej" id="ej" placeholder="ej" [(ngModel)]="clasificados.ej">
            </div>


            <div class="input-content">
                <label for="clasificados">Clasif</label>
                <i class="bi bi-file-earmark prefix"></i>
                <input type="text" class="in" name="clasif" id="clasif" placeholder="clasif"
                    [(ngModel)]="clasificados.clasif">
            </div>

            <div class="input-content">
                <label for="clasificados">Destino</label>
                <i class="bi bi-signpost prefix"></i>
                <input type="text" class="in" name="destino" id="destino" placeholder="destino"
                    [(ngModel)]="clasificados.destino">
            </div>

            <div class="input-content">
                <label for="clasificados">Traslado</label>
                <i class="bi bi-truck prefix"></i>
                <input type="text" class="in" name="traslado" id="traslado" placeholder="traslado"
                    [(ngModel)]="clasificados.traslado">
            </div>

            <div class="input-content">
                <label for="clasificados">Fecha traslado</label>
                <i class="bi bi-calendar-date prefix"></i>
                <input type="date" class="in" [min]="clasificados.fecha_registro_ctc" name="fechaTraslado"
                    id="fechaTraslado" placeholder="fechaTraslado" [(ngModel)]="clasificados.fecha_traslado" onkeydown="return false">
            </div>


        </div>
        <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;width: 100%;gap: 5px;">
            <button style="width: 50%;" [disabled]="!validarCamposVacios()" class="btn-firstcolor"
                (click)="addUpdateClasificados()"> {{modalAction}}</button>
            <button style="width: 50%;" class="btn-firstcolor"
                (click)="cancelar()"> Cancelar</button>
        </div>
    </form>
</div>