<div class="contenedor ligth" [ngClass]="{'contenedor-active': sidenav}">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="sidenavk" id="sidenav">
  <div class="sidenavk-header">
    <button class="btn tips-container menu-icon" (click)="toggleSidenav()"><i
        class="bi bi-three-dots-vertical"></i><span>Menu</span></button>
  </div>
  <div class="sidenav-content">
    <a class="btn tips-container"><i class="bi bi-person"></i> <span>Usuarios</span>
      <div class="tips tips-bottom ligth" [ngClass]="{'tips-show': sidenav}" data-tooltip="Usuarios"></div>
    </a>
    <a class="btn tips-container"><i class="bi bi-file-earmark-richtext"></i> <span> Documentos Secretos</span>
      <div class="tips tips-bottom ligth" [ngClass]="{'tips-show': sidenav}" data-tooltip="Documentos Secretos"></div>
    </a>
    <a class="btn tips-container"><i class="bi bi-file-earmark-text"></i> <span> Documentos Limitados</span>
      <div class="tips tips-bottom ligth" [ngClass]="{'tips-show': sidenav}" data-tooltip="Documentos Limitados"></div>
    </a>
    <a class="btn tips-container"><i class="bi bi-file-earmark-text"></i> <span> Documentos Secretos</span>
      <div class="tips tips-bottom ligth" [ngClass]="{'tips-show': sidenav}" data-tooltip="Documentos Secretos"></div>
    </a>
  </div>
  <div class="sidenavk-footer">
    <p class="text-white">Todos los derechos reservados CTC</p>
  </div>
</div>