  .sidenavk {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: var(--firstcolor);
    padding-top: 60px;
    transition: all .3s;
  }

  .sidenav-content {
    display: flex;
    flex-direction: column;
  }

  .sidenav-content a {
    margin-block: 1px;
    font-size: small;
  }

  .sidenavk-active {
    width: 50px;
    
    transition: all .3s;
  }

  .sidenavk-active span {
    display: none;
  }

  .sidenavk i {
    font-size: 20px;
    line-height: 15px;
  }

  .sidenavk i,span{
    color: white;
  }
  
  .sidenav-content .btn{
    text-align: start;
  }

  .sidenavk-footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 8px 8px 8px;
    text-align: center;
    font-size: small;
  }

  .sidenavk-header{
    position: absolute;
    top: 0;
  }

  .sidenavk-active .menu-icon{
    transform: rotate(90deg);
    transition: all .3s;
  }

  .menu-icon{
    transform: rotate(0deg);
    transition: all .3s;
  }

  .contenedor{
    width: calc(100% - 250px);
    right: 0;
    position: fixed;
    height: 100%;
    transition: all .3s;
  }

  .contenedor-active{
    width: calc(100% - 50px);
    transition: all .3s;
  }

  a:hover{
    background-color: var(--firstcolor-hover);
  }

  .content{
    margin-inline: 20px;
  }