<div class="contenedor" id="cont">
    <div class="title-page">
        <div class="title-logo">
            <i class="bi bi-person text-oscuro"></i>
            <h1 class="title text-oscuro" style="margin-top:-15px">Clasificados</h1>
            
           
        </div>
        <p class="text-oscuro">  Clasificados registrados en el sistema</p>
   
            <div>
         <button id="newDoc" class="btn btn-firstcolor" (click)="addClasificados()" >Nuevo Documento 
            <i style="font-size: 20px;" class="bi bi-file-earmark-plus"></i>
        </button>

        <button (click)="deleteAll()" id="deleteAll" class="btn btn-firstcolor" style="margin-right: 200px;">Eliminar Todo
            <i style="margin:5px; font-size: 20px;" class="bi bi-trash"></i>
        </button>
           </div>
    </div>
    <div style="margin-top: -30px;">
    <input id="chbx" type="checkbox" value="Seleccionar todo" (click)="selecc()"/>
    <Label>Seleccionar Todo</Label>
    </div>
    <table class="tablas">
        <thead class="head">
            <td></td>
            <td>id</td>
            <td>no</td>
            <td>fecha</td>
            <td>enviado</td>
            <td>rsb</td>
            <td>rs</td>
            <td>fecha_registro_ctc</td>
            <td>asunto</td>
            <td>doc</td>
            <td>ej</td>
            <td>clasif</td>
            <td>destino</td>
            <td>traslado</td>
            <td>fecha_traslado</td>
            <td>imagen</td>
            <td>acciones</td>
        </thead>
        <app-loading [loading]="loading"></app-loading>
        <p class="server">{{server}}</p>
           
        <tr *ngFor="let item of clasificados" class="ligth" (click)="detailToggle(item)">
             <td><input name="checkbox" [checked]="selec" type="checkbox" (click)="d(item.id)"></td>
            <td>{{item.id}}</td>
            <td>{{item.no}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.enviado}}</td>
            <td>{{item.rsb}}</td>
            <td>{{item.rs}}</td>
            <td>{{item.fecha_registro_ctc}}</td>
            <td>{{item.asunto}}</td>
            <td>{{item.doc}}</td>
            <td>{{item.ej}}</td>
            <td>{{item.clasif}}</td>
            <td>{{item.destino}}</td>
            <td>{{item.traslado}}</td>
            <td>{{item.fecha_traslado}}</td>
            <td><img [src]="item.imagen" alt="" width="80" height="80"></td>
            <td><button class="btn btn-firstcolor"  (click)="editClasificados(item)"><i class="bi bi-pencil"></i></button></td>
            <td><button class="btn btn-firstcolor" (click)="deleteClasificados(item.id)"><i class="bi bi-trash"></i></button></td>
            
        </tr>
    
    </table>
</div>

