.container .row * .seccion {
    width: 100%;
    height: 300px;
    border-radius: 1em;
    box-shadow: 0 0 5px 2px var(--firstcolor-hover-white);
    padding: 10px;
    margin: auto;
    border-left: 40px solid var(--firstcolor-hover);
    margin-top: 20px;
}

.container {
    margin-top: 80px;
}

.container .tips-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    height: 60%;
    overflow-y: auto;
}

.container .tips-container .card .tree-points{
    position: absolute;
    right: 0;
    width: 40px;
}

.container .tips-container .card{
    height: 250px;
    -webKit-app-region: drag;
}

.card-title{
    color: black;
}

.card-text{
    color: rgb(87, 87, 87);
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 150px;
    overflow-y: auto;
}

.container .actions{
    display: flex;
    flex-direction: column;
}

.container .actions .action-buttons{
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

