<div class="form-content">
    <button class="btn btn-fab-close" (click)="actiModal.close()"><i class="bi bi-x"></i></button>
        <div class="image-content" >
        <i class="bi bi-trash"></i>
    </div>
    <Label class="label">Seguro que desea eliminar?</Label>
    <div>
  <button class="btn btn-firstcolor" (click)="preguntar()" style="margin-right: -30px" >Aceptar</button>
  <button class="btn btn-firstcolor" (click)="actiModal.close()" style="margin-left: 170px">Cancelar</button>
  <br/>
  <br/>
</div>
</div>







