<div class="contenedor">
    <div class="title-page">
        <div class="title-logo">
            <i class="bi bi-person text-oscuro"></i>
            <h1 class="title text-oscuro">Usuarios</h1>
        </div>
        <p class="text-oscuro" (click)="addUsuario()">Usuarios registrados en el sistema</p>
    </div>
    <table class="tablas">
        <thead class="head">
            <td colspan="1"></td>
            <td colspan="2">no</td>
            <td colspan="3">lugar</td>
            <td colspan="3">titulo</td>
            <td colspan="3">categoria</td>
            <td colspan="2">acciones</td>
        </thead>
        <tr *ngFor="let item of secretos" class="ligth" (click)="detailToggle(item)">
            <td colspan="1"><input type="checkbox"></td>
            <td colspan="2">{{item.no}}</td>
            <td colspan="3">{{item.lugar}}</td>
            <td colspan="3">{{item.titulo}}</td>
            <td colspan="3">{{item.categoria}}</td>
            <td colspan="2"><button class="btn btn-firstcolor"><i class="bi bi-pencil"></i></button></td>
        </tr>
    </table>
</div>
<div class="sidebar-right">
    <app-detailbar [data]="selected"></app-detailbar>
</div>