<div class="contenedor" id="cont">
    <div class="title-page">
        <div class="title-logo">
            <i class="bi bi-person text-oscuro"></i>
            <h1 class="title text-oscuro" style="margin-top:-15px">Secretos</h1>
        </div>
        <p class="text-oscuro">Secretos registrados en el sistema</p>
 <div>
        <button id="newDoc" class="btn btn-firstcolor" (click)="addSecretos()" >Nuevo Documento 
            <i style="font-size: 20px;" class="bi bi-file-earmark-plus"></i>
            </button>
            
            <button id="deleteAll" class="btn btn-firstcolor"   style="margin-right: 200px;">Eliminar Todo
                <i style="margin:5px; font-size: 20px;" class="bi bi-trash"></i>
            </button>
               </div>
       
         </div>
    <table class="tablas">
        <thead class="head">
            <td colspan="1"></td>
            <td colspan="2">id</td>
            <td colspan="3">no</td>
            <td colspan="4">lugar</td>
            <td colspan="5">reg_no</td>
            <td colspan="6">titulo</td>
            <td colspan="7">categoria</td>
            <td colspan="8">mat_no</td>
            <td colspan="9">folio_no</td>
            <td colspan="10">cant</td>
            <td colspan="11">no_ejemplar</td>
            <td colspan="12">cant_hojas</td>
            <td colspan="13">destruccion</td>
            <td colspan="14">destino</td>
            <td colspan="15">comp</td>
            <td colspan="16">imagen</td>
            <td colspan="17">acciones</td>
        </thead>
        <app-loading [loading]="loading"></app-loading>
        <p class="server">{{server}}</p>
        <tr *ngFor="let item of secretos" class="ligth" (click)="detailToggle(item)">
            <td colspan="1"><input type="checkbox"></td>
            <td colspan="2">{{item.id}}</td>
            <td colspan="3">{{item.no}}</td>
            <td colspan="4">{{item.lugar}}</td>
            <td colspan="5">{{item.reg_no}}</td>
            <td colspan="6">{{item.titulo}}</td>
            <td colspan="7">{{item.categoria}}</td>
            <td colspan="8">{{item.mat_no}}</td>
            <td colspan="9">{{item.folio_no}}</td>
            <td colspan="10">{{item.cant}}</td>
            <td colspan="11">{{item.no_ejemplar}}</td>
            <td colspan="12">{{item.cant_hojas}}</td>
            <td colspan="13">{{item.destruccion}}</td>
            <td colspan="14">{{item.destino}}</td>
            <td colspan="15">{{item.comp}}</td>
            <td colspan="16"><img [src]="item.imagen" alt="" width="80" height="80"></td>
            <td colspan="17"><button class="btn btn-firstcolor" (click)="editSecretos(item)"><i class="bi bi-pencil"></i></button></td>
            <td colspan="18"><button (click)="deleteSecretos(item.id)" class="btn btn-firstcolor"><i class="bi bi-trash"></i></button></td>
     
        </tr>
    </table>
</div>

