<!--  -->
<div class="container-fluid" [@scaleAnimation]="'enter'">
    <div class="row">
        <div class="col-sm-6">
            <app-modal-document></app-modal-document>
        </div>
        <div class="col-sm-6">
            <!-- <h3 class="h3 text-center">Vista Previa</h3>
            <pdf-viewer src="assets/pdfs/Bootstrap-vs-Material-Design-vs-Prime-vs-Tailwind.pdf" [render-text]="true"
                [original-size]="false" style="width: 100%; height: 500px"></pdf-viewer> -->
        </div>
    </div>
</div>