<div class="form-content" style="margin-left: auto; margin-right: auto; margin-top: 120px;">
    <button class="btn btn-fab-close" (click)="actiModal.close()"><i class="bi bi-x"></i></button>
        <div class="image-content" style="width: 120px; height: 120px;">
        <i class="bi bi-trash"></i>
    </div>
    <Label class="label">Seguro que desea eliminar?</Label>
    <div>
  <button class="btn btn-firstcolor" (click)="eliminar()" style="margin-right: -20px" >Aceptar</button>
  <button class="btn btn-firstcolor" (click)="actiModal.close()" style="margin-left: 160px">Cancelar</button>
  <br/>
  <br/>
</div>
</div>







