<div class="content">
    <router-outlet></router-outlet>
</div>
<div class="sidebar">
    <div class="burbuja"></div>
    <div class="burbuja-2"></div>
    <div class="sidebar-header">
        <div class="logo">
            <i class="bi bi-emoji-smile"></i>
            <span>Sistema Documental</span>
        </div>
        <button id="btn" class="btn" (click)="toggleSidebar()"><i class="bi bi-list"></i></button>
    </div>
    <div class="search">
        <input type="text" name="search" [(ngModel)]="search" (ngModelChange)="filterMenu()" class="search-in" placeholder="Buscar...">
        <button class="btn-search"><i class="bi bi-search"></i></button>
    </div>
    <ul class="scrollbar1" id="style-2">
        <li *ngFor="let item of menu" [ngClass]="{'active': item.active, 'nav-disable' : !item.permiso}" (click)="changePage(item)" >
            <i *ngIf="item.permiso" [class]="item.icono"></i>
            <span *ngIf="item.permiso">{{item.nombre}}</span>
            <div *ngIf="item.permiso" class="tooltips">{{item.nombre}}</div>
        </li>
    </ul>
    <div class="sidebar-footer" id="foot" (click)="logout()">
        <i class="bi bi-box-arrow-left" style="color: white;"></i>
        <span id="spn">Logout</span>
        <div class="tooltips">Cerrar Sesión</div>
    </div>
</div>
