<div class="content">
    <router-outlet></router-outlet>
</div>
<div class="sidebar"  (click)="createUser($event.target)">
   <!-- <div class="burbuja"></div>
    <div class="burbuja-2"></div>-->
    <div class="sidebar-header">
        <div class="logo">
            <img width="50" height="50" style="margin-left: auto; margin-right: auto;" src="assets/img/ctc1.png"  id="logo"/>
            <span>Sistema Documental</span>
        </div>
        <button id="btn" class="btn " (click)="toggleSidebar()"><i class="bi bi-list svg-shadow"></i></button>
    </div>
    <div class="search my-2">
        <input type="text" name="search" [(ngModel)]="search" (ngModelChange)="filterMenu()" class="search-in" placeholder="Buscar...">
        <button class="btn-search"><i class="bi bi-search"></i></button>
    </div>
    <ul class="scrollbar1" id="style-2">
        <li *ngFor="let item of menu" [ngClass]="{'active': item.active, 'nav-disable' : !item.permiso}" (click)="changePage(item)" >
            <i *ngIf="item.permiso" [class]="item.icono"></i>
            <span *ngIf="item.permiso">{{item.nombre}}</span>
            <div *ngIf="item.permiso" class="tooltips">{{item.nombre}}</div>
        </li>
        <li (click)="logout()" *ngIf="storage.retrieve('usuario')">
            <i class="bi bi-box-arrow-left" style="color: white;"></i>
            <span >Cerrar Sesión</span>
        </li>
    </ul>
    <div class="sidebar-footer p-2 text-center" id="foot" >
       <p class="text-muted">Todos los derechos reservados por la CTC Nacional © 2022</p>
       <p class="text-muted" style="margin-top: -20px;">elizabeth, kuroko</p>
    </div>
</div>