* {
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    background: rgb(200,2,2);
    background: radial-gradient(circle at 0% 0%,#ffffff, rgba(230, 7, 7, 1), var(--firstcolor-hover),var(--firstcolor-hover));
    font-style: black;
    width: 260px;
    height: 97%;
    margin-top: 2%;
    transition: all .3s ease;
}

.sidebar.active {
    width: 60px;
    transition: all .3s ease;
}

.sidebar .sidebar-header {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: var(--theme-color-ligth);
    height: 60px;
}

.sidebar .sidebar-header .logo i {
    font-size: 28px;
}

.sidebar .sidebar-header .logo span {
    font-size: 18px;
    font-weight: 500;
}

.sidebar .sidebar-header .logo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar.active .sidebar-header .logo {
    opacity: 0;
    transition: all .3s ease;
}

.sidebar .sidebar-header .btn {
    position: absolute;
    color: var(--theme-color-ligth);
    right: 10px;
    top: 0px;
}

.sidebar ul li {
    color: var(--firstcolor);
    position: relative;
    line-height: 30px;
    width: auto;
    padding: 12px;
    min-width: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -30px;
    padding-left: 12.5px;
    transition: all .3s ease;
    cursor: pointer;
    overflow: hidden;
}

.sidebar ul {
    top: 160px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    bottom: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all .3s ease;
}

.sidebar ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--theme-color-ligth);
    transition: all .3s ease;
    border-radius: 12px;

}

.sidebar.active ul li:hover {
    padding-left: 15px;
    width: 60px;
}

.sidebar ul li.active {
    border-left: 4px solid rgb(33, 38, 104);
    transition: all .3s ease;
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.sidebar ul li i {
    margin-right: 20px;
    font-size: 25px;
    font-weight: 450;
    color: white;
}

.sidebar ul li span {
    font-weight: 450;
    color: white;
}

.sidebar.active ul li span {
    visibility: hidden;
    transition: all 1s ease;
}

.sidebar .sidebar-footer {
    font-size: small;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar .sidebar-footer i {
    color: var(--theme-color-ligth);
    font-size: 25px;
    font-weight: 400;
    margin-right: 20px;
    margin-left: 15px;
}

.sidebar .sidebar-footer span {
    color: var(--theme-color-ligth);
    /* font-size: 20px; */
}

.content {
    overflow: auto;
    margin-top: 32px;
    position: fixed;
    margin-left: 260px;
    width: calc(100% - 260px);
    height: 100%;
    transition: all .3s ease;
}

.content.active {
    margin-left: 60px;
    width: calc(100% - 60px);
    transition: all .3s ease;
}

.search {
    position: relative;
}

.search .search-in {
    position: relative;
    padding: 12px;
    width: 90%;
    margin-top: 20px;
    line-height: 30px;
    border-radius: 12px;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(250, 220, 220);
    color: black;
    padding-left: 45px;
    outline: none;
}

.search .search-in::placeholder {
    color: black;
}

.search .btn-search {
    position: absolute;
    top: 35%;
    left: 15px;
    color: black;
    font-size: 22px;
    font-weight: 400;
    border: none;
    background: transparent;
    padding: 5px;
    border-radius: 12px;
    transition: all .3s ease;
}

.search .btn-search:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.sidebar .burbuja {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 100%;
    left: -20px;
    top: -20px;
    background-color:rgb(151, 65, 65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(106, 120, 248, 0.2);
}

.sidebar .burbuja-2 {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    left: 10px;
    top: 10px;
    background-color: rgb(151, 65, 65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(106, 120, 248, 0.2);
}


.tooltips {
    background-color: var(--firstcolor-hover);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px 2px var(--firstcolor-hover);
    box-sizing: border-box;
    position: absolute;
    left: 60px;
    top: 10px;
    text-align: center;
    color: var(--theme-color-ligth);
    border: solid 1px var(--firstcolor-hover);
    z-index: 0;
    white-space: nowrap;
    pointer-events: none;
}

.sidebar ul li .tooltips {
    opacity: 0;
    transition: all .3s ease;
}

.sidebar.active ul{
    margin-left: 2px;
    transition: all .3s ease;
}

.sidebar.active ul li:hover .tooltips {
    opacity: 1;
    transition: all .3s ease;
}

.sidebar.active .sidebar-footer:hover .tooltips {
    opacity: 1;
    transition: all .3s ease;
}

.sidebar .sidebar-footer .tooltips {
    opacity: 0;
    transition: all .3s ease;
}

.sidebar ul li.nav-disable{
    pointer-events: none;
}