<div class="background-content">
    <div class="login-content">
        <h3 (click)="createUser()">Bienvenido</h3>
        <p class="text-info" >Necesita rellenar todos los campos para confirmar su identidad</p>
        <p class="text-danger">{{error}}</p>
        <form action="" class="login-form">
            <div class="input-content">
                <label for="user" class="input-label">Usuario</label>
                <i class="bi bi-person prefix"></i>
                <p *ngIf="usuario_error">Este campo es obligatorio</p>
                <input type="text" name="user" id="user" placeholder="usuario" [(ngModel)]="usuario" class="input">
            </div>
            <div class="input-content">
                <label for="password" class="input-label">Contraseña</label>
                <i class="bi bi-key prefix"></i>
                <i class="bi suffix" [ngClass]="{'bi-eye': !see , 'bi-eye-slash': see}" (click)="see=!see"></i>
                <p *ngIf="usuario_error">Este campo es obligatorio</p>
                <input [type]="see ? 'text' : 'password'" name="password" id="password" placeholder="contraseña" [(ngModel)]="password" class="input">
            </div>
            <br/>
            <button  class="btn btn-aceptar btn-firstcolor" (click)="loguear()">Aceptar</button>
        </form>
    </div>
</div>
