/* You can add global styles to this file, and also import other style files */
:root {
    --firstcolor: rgb(51, 73, 255);
    --firstcolor-hover-white: rgb(106, 120, 248);
    --firstcolor-hover: rgb(33, 38, 104);
    --firstcolor-section: rgba(59, 64, 142, 0.281);
    --theme-color-ligth: rgb(255, 255, 255);
    --theme-color-dark: rgb(41, 41, 41);
    --dimen-tooltip: -70px;
}

.btn:hover .tips.tips-show {
    visibility: visible;
    transform: translate(0);
    transition: ease-in-out .2s;
}

.btn-firstcolor{
    padding: 15px;
    background-color: var(--firstcolor);
    border-radius: 0.5em;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
    filter: drop-shadow(3px 3px 2px var(--firstcolor-hover));
    border: none;
    color: var(--theme-color-ligth);
    transition: all .3s;
}

.btn-firstcolor:hover{
    background-color: var(--firstcolor-hover);
    color: var(--theme-color-ligth);
    transition: all .3s;
}

.btn-outline-firstcolor{
    padding: 15px;
    background-color: var(--theme-color-ligth);
    border-radius: 0.5em;
    border: solid 1px var(--firstcolor);
    color: var(--firstcolor);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
    transition: all .3s;
}

.btn-outline-firstcolor:hover{
    background-color: var(--firstcolor);
    color: var(--theme-color-ligth);
    border: none;
    transition: all .3s;
}

.text-ligth{
    color: var(--theme-color-ligth);
}

.text-oscuro{
    color: var(--firstcolor-hover);
}

.ligth{
    background-color: var(--theme-color-ligth);
    color: var(--firstcolor);
    transition: all .3s;
}

.dark{
    background-color: var(--theme-color-dark);
    color: var(--theme-color-ligth);
}

.btn-fab{
    padding: 10px;
    border-radius: 100%;
    background-color: var(--firstcolor);
    color: var(--theme-color-ligth);
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
}

.centrado-horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}