/* You can add global styles to this file, and also import other style files */
:root {
    --firstcolor: rgb(51, 73, 255);
    --firstcolor-hover-white: rgb(106, 120, 248);
    --firstcolor-hover: rgb(33, 38, 104);
    --firstcolor-section: rgba(59, 64, 142, 0.281);
    --theme-color-ligth: rgb(255, 255, 255);
    --theme-color-dark: rgb(41, 41, 41);
    --dimen-tooltip: -70px;
}

.btn:hover .tips.tips-show {
    visibility: visible;
    transform: translate(0);
    transition: ease-in-out .2s;
}

.btn-firstcolor {
    padding: 15px;
    background-color: var(--firstcolor-hover);
    border-radius: 0.5em;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
    filter: drop-shadow(0 0 2px var(--firstcolor-hover-white));
    border: none;
    color: var(--theme-color-ligth);
    transition: all .3s;

}

.btn-firstcolor1 {
    padding: 15px;
    background-color: var(--firstcolor-hover);
    border-radius: 0.5em;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
    filter: drop-shadow(0 0 2px var(--firstcolor-hover-white));
    border: none;
    color: var(--theme-color-ligth);
    transition: all .3s;
    margin-left: 880px;
    margin-top: -14px;
    height: 55px;
    margin-bottom: -39px;
}

.btn-firstcolor:hover {
    background-color: var(--firstcolor);
    color: var(--theme-color-ligth);
    transition: all .3s;
}
.btn-firstcolor1:hover {
    background-color: var(--firstcolor);
    color: var(--theme-color-ligth);
    transition: all .3s;
}

.btn-outline-firstcolor {
    padding: 15px;
    background-color: var(--theme-color-ligth);
    border-radius: 0.5em;
    border: solid 1px var(--firstcolor);
    color: var(--firstcolor);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.8);
    transition: all .3s;
}

.btn-outline-firstcolor:hover {
    background-color: var(--firstcolor);
    color: var(--theme-color-ligth);
    border: none;
    transition: all .3s;
}

.text-ligth {
    color: var(--theme-color-ligth);
}

.text-oscuro {
    color: var(--firstcolor-hover);
    margin-bottom: -8px;
    
}

.ligth {
    background-color: var(--theme-color-ligth);
    color: var(--firstcolor);
    transition: all .3s;
}

.dark {
    background-color: var(--theme-color-dark);
    color: var(--theme-color-ligth);
}

.btn-fab {
    padding: 10px;
    border-radius: 100%;
    background-color: var(--firstcolor);
    color: var(--theme-color-ligth);
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
}

.centrado-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: transparent;
    border: none;
}

/*Scroll dentro del Form*/

.scrollbar
{
	margin-left: 22px;
	float: left;
	height: 300px;
	width: 420px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.scrollbar1
{
	margin-left: 22px;
	float: left;
	
	overflow-y: scroll;
	margin-bottom: 25px;
}

.scrollbar2
{
	float: left;
	height: 500px;
	width: 1220px;
	overflow-y: scroll;
	
}

.force-overflow
{
	min-height: 450px;
}

/* STYLE */
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px var(--firstcolor-hover);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px var(--firstcolor-hover);
	background-color: var(--firstcolor-hover);
}

/* STYLE */
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px var(--firstcolor);
	border-radius: 10px;
	background-color:var(--firstcolor-hover);
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color:var(--firstcolor-hover);
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px var(--firstcolor);
	background-color: white;
}

/* STYLE 3 */
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px var(--firstcolor-hover);
	border-radius: 10px;
}

#style-3::-webkit-scrollbar
{
	width: 12px;
}

#style-3::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px var(--firstcolor-hover);
	background-color: var(--firstcolor-hover);
}

.contenedor .title-page{
    margin-bottom: 50px;
}

.contenedor .title-page .btn-firstcolor{
    position: absolute;
    right: 20px;
    top: 80px;
}

.contenedor .tablas {
    position: relative;
}

.contenedor .tablas .server{
    position: absolute;
    color: red;
    margin-left: 45%;
}

.transparente{
    color: transparent;
    background-color: transparent;
}

.form-content .image-content img{
    width: 100%;
    height: auto;
}

.server{
    color: rebeccapurple;
    font-size: 15px;
    margin-top: 40px;
}