<div class="contenedor" id="cont">
    <div class="title-page">
        <div class="title-logo">
            <i class="bi bi-person text-oscuro"></i>
            <h1 class="title text-oscuro" style="margin-top:-15px">Usuarios</h1>
        </div>
        <p class="text-oscuro">Usuarios registrados en el sistema</p>

        <div>
            <button id="newUser" class="btn btn-firstcolor" (click)="addUsuario()" style="height: 55px;">Nuevo Usuario
                <i style="margin:15px; font-size: 20px;" class="bi bi-person-plus"></i>
            </button>

            <button (click)="deleteAll()" id="deleteAll" class="btn btn-firstcolor"
                style="margin-right: 200px;">Eliminar Todo
                <i style="margin:5px; font-size: 20px;" class="bi bi-trash"></i>
            </button>
        </div>

    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="selecc()">
        <label class="form-check-label" for="flexCheckDefault">
            Seleccionar Todo
        </label>
    </div>
    <table class="tablas">
        <thead class="head">
            <td colspan="1"></td>
            <td colspan="2">id</td>
            <td colspan="3">usuario</td>
            <td colspan="4">nombre</td>
            <td colspan="4">rol</td>
            <td colspan="5">fecha registro</td>
            <td colspan="6">acciones</td>
        </thead>
        <app-loading [loading]="loading" [message]="server"></app-loading>
        <tr *ngFor="let item of usuarios" class="ligth" (click)="detailToggle(item)">
            <td colspan="1"><input class="form-check-input" type="checkbox" [checked]="selec" (click)="d(item.id)"></td>
            <td colspan="2">{{item.id}}</td>
            <td colspan="3">{{item.usuario}}</td>
            <td colspan="4">{{item.nombre}}</td>
            <td colspan="4">{{item.rol}}</td>
            <td colspan="5">{{item.fecha_registro | date: 'short'}}</td>
            <td colspan="1"><button class="btn btn-firstcolor" (click)="editUsuario(item)"><i
                        class="bi bi-pencil"></i></button><button (click)="deleteUsuario(item.id)" class="btn btn-firstcolor"><i
                        class="bi bi-trash"></i></button></td>

        </tr>
    </table>
</div>