.nav-right {
    position: relative;
    width: 100%;
    /* background-color: var(--firstcolor); */
    border-radius: 0.5em;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.side {
    width: 0;
    transition: all .3s;
}

.mitad {
    width: 100%;
    transition: all .3s;
}


.mitad-active {
    width: 80%;
    transition: all .3s;
}

.contenedor-completo{
    display: flex;
    flex-direction: row;
}