<div class="contenedor-completo">
    <div [ngClass]="{'mitad': activoid ==-1, 'mitad-active': activoid > -1}">
        <table class="tabla tabla-dark tabla-hover ligth">
            <tr style="border-top-left-radius: 0.5em;border-top-right-radius: 0.5em;">
                <th style="border-top-left-radius: 0.5em;">id</th>
                <th>usuario</th>
                <th>nombre</th>
                <th (click)="activoid = -1;">fecha ultima sesion</th>
                <th style="border-top-right-radius: 0.5em;">acciones</th>
            </tr>
            <tr *ngFor="let item of usuarios"
                [ngClass]="{'tr-active': item.id == activoid, 'ligth': item.id != activoid}"
                (click)="cambiarActivo(item)">
                <td>{{item.id}}</td>
                <td>{{item.usuario}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.fecha_ultima}}</td>
                <td>
                    <button class="btn btn-firstcolor"><i class="bi bi-pencil"></i></button>
                    <button class="btn btn-outline-firstcolor ligth"><i class="bi bi-trash"></i></button>
                </td>
            </tr>

        </table>
    </div>
    <div *ngIf="activoid != -1"  [@detailnav]="'enter'">
        <div class="nav-right">
            <app-detailnav [data]="data" (emisor)="activoid=-1;"></app-detailnav>
        </div>
    </div>

</div>