<div class="container-fluid p-4" [@scaleAnimation]="'enter'">
  <div class="row p-1">
    <h1 class="h1 title-section"><i class="bi bi-file-earmark-pdf-fill"></i><strong> Reportes</strong></h1>
  </div>
  <div class="row p-2">
    <div class="d-flex flex-wrap shadow-sm border p-2 small-font-size">
      <h4 class="h4 title-filter"><i class="bi bi-search"></i> Criterios de búsqueda: </h4>
      <div class="form-content mx-1">
        <Label class="labels">Desde:</Label>
        <input name="fechaInicio" type="date" [(ngModel)]="inicio" [min]="minDate" [max]="fin"
          (ngModelChange)="salida2()" />
      </div>
      <div class="form-content mx-1">
        <Label class="labels">Hasta:</Label>
        <input name="fechaFin" type="date" [(ngModel)]="fin" [min]="inicio" [max]="today" (ngModelChange)="salida2()" />
      </div>
      <div class="form-content mx-1">
        <Label class="labels">Tipo:</Label>
        <app-multiselect [opciones]="values" [ifSearch]="false" (emisor)="salida4($event)"></app-multiselect>
      </div>
      <div class="form-content mx-1">
        <Label class="labels">Clasificacion:</Label>
        <app-multiselect [opciones]="opciones" (emisor)="salida($event)"></app-multiselect>
      </div>
      <div class="form-content mx-1">
        <Label class="labels">Procedencia:</Label>
        <input name="proc" type="text" placeholder="Todos" [(ngModel)]="proceder" (ngModelChange)="salida3()" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end p-4" style="position: relative;">
      <div class="form-check" style="position: absolute;left: 10px;top: 40px;">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="selecc()">
        <label class="form-check-label  labels" style="color: var(--firstcolor-hover);" for="flexCheckDefault">
          Seleccionar Todo
        </label>
      </div>
      <button id="newUser" class="btn-firstcolor" (click)="createReporte()" [disabled]="documentos.length==0">
        <i style=" font-size: 20px;" class="bi bi-printer"></i>
        Generar reporte
      </button>
      <button (click)="deleteAll()" id="deleteAll" class="btn-firstcolor" [disabled]="storage.retrieve('usuario') && storage.retrieve('usuario').usuario.rol!='admin'">
        <i style=" font-size: 20px;" class="bi bi-trash"></i>
        Eliminar Todo
      </button>
    </div>

  </div>
  <div class="row">
    <table class="table text-center table-striped" style="position: relative;">
      <thead>
        <tr style="background-color: var(--firstcolor-hover);color: var(--theme-color-ligth);">
          <th></th>
          <th>No</th>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Clasificacion</th>
          <th>Origen</th>
          <th>Titulo o Asunto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <!-- <app-loading [loading]="loading" [message]="server"></app-loading> -->
      <div *ngIf="documentos.length==0" class="text-firstcolor" [@scaleAnimation]="'enter'"
        style="display: flex;flex-direction: column;justify-content: center;align-items: center; width: 100%;position: absolute;">
        <img src="assets/emptydocs.png" width="200px" height="200px" alt="">No hay documentos que mostrar
      </div>
      <tbody *ngIf="documentos.length!=0">
        <tr *ngFor="let item of documentos">
          <td><input class="form-check-input" type="checkbox" [checked]="selec" (click)="d(item)"></td>
          <td>{{item.no}}</td>
          <td>{{item.fecha}}</td>
          <td>{{item.tipo==1?'Enviado':'Recibido'}}</td>
          <td>{{item.tipo_doc.name}}</td>
          <td><p class="text-resumen">{{item.procedencia || item.enviado}}</p></td>
          <td><p class="text-resumen">{{item.titulo || item.asunto}}</p></td>
          <td>
            <button class="btn btn-action-mine" (click)="openPdf(item)"><i class="bi bi-file-earmark-pdf"></i></button>
            <button class="btn btn-action-mine" (click)="edit(item)"><i class="bi bi-pencil"></i></button>
            <button class="btn btn-action-mine" (click)="delete(item.id,item)"
              *ngIf="storage.retrieve('usuario').usuario.rol=='admin'"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>