.filter-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* border: 1px solid var(--firstcolor-hover); */
  border-radius: 0.5em;
  gap: 10px;
  /* box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4); */
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-content .labels {
  color: var(--firstcolor-hover);
  font-weight: 800;
}

.form-content input {
  outline: none;
  border: 1px solid var(--firstcolor-hover);
  border-radius: 0.5em;
  padding: 10px;
  margin: 2px;
  font-size: small;
  color: var(--firstcolor-hover);
}

.form-content input::placeholder {
  color: var(--firstcolor-hover);
}

.tableFixHead {
  overflow: auto;
  /* height: 400px; */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
  height: 20%;
}

th,
td {
  padding: 8px 16px;
}

th {
  background: var(--firstcolor-hover);
}

.title-filter{
  width: 100%;
  font-weight: 900;
  color: var(--firstcolor-hover);
}