<div class="contenedor" id="cont">
  <div class="title-page">

    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <h2 style="text-align:left">Criterios de busqueda:</h2>
          <br />
          <div class="rowForm">
            <Label class="labels">Desde:</Label>
            <input name="fechaInicio" type="date" [(ngModel)]="inicio" [min]="minDate" [max]="fin"
              (ngModelChange)="salida2()" /> 

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <Label class="labels">Hasta:</Label>
            <input name="fechaFin" type="date" [(ngModel)]="fin" [min]="inicio" [max]="today"
              (ngModelChange)="salida2()" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <Label class="labels">Tipo:</Label>
            <app-multiselect [opciones]="values" [ifSearch]="false" (emisor)="salida4($event)"></app-multiselect>
          </div>


          <br />
          <div class="rowForm">
            <Label class="label1">Clasificacion:</Label>
            <div style="margin-top:-1%;width:60%; margin-left:0%;">
              <app-multiselect [opciones]="opciones" (emisor)="salida($event)"></app-multiselect>
            </div>
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <Label class="labels">Procedencia:</Label>
            <input name="proc" type="text" placeholder="Todos" style="width:27%;margin-right: 1%;"
              [(ngModel)]="proceder" (ngModelChange)="salida3()" />
          </div>
          <!--button>Listar</button-->

        </form>
      </div>
    </div>

 
  </div>
  <div class="form-check" style="margin-left:5%">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="selecc()">
    <label class="form-check-label" for="flexCheckDefault">
      Seleccionar Todo
    </label>
  </div>

  <div class="actions">
    <div style="width: 50%;">
        <button id="newUser" class="btn btn-firstcolor1" style="height: 55px;">
            <i style=" font-size: 20px;" class="bi bi-printer"></i>
            Imprimir reporte
        </button>
    </div>
    <div style="width: 50%;">
        <button (click)="deleteAll()" id="deleteAll" class="btn btn-firstcolor1">
            <i style=" font-size: 20px;" class="bi bi-trash"></i>
            Eliminar Todo
        </button>
    </div>
</div>
  <div class="scrollbar4" id="style-1">
    <table class="tablas">

      <thead class="head">
        <td colspan="1"></td>
        <td colspan="1">No</td>
        <td colspan="2">Fecha</td>
        <td colspan="2">Tipo</td>
        <td colspan="2">Clasificacion</td>
        <td colspan="2">Origen</td>
        <td colspan="5">Titulo o Asunto</td>
        <td colspan="3">Acciones</td>
      </thead>

      <app-loading [loading]="loading" [message]="server"></app-loading>
      <tr *ngFor="let item of documentos" class="ligth">
        <td colspan="1"><input class="form-check-input" type="checkbox" [checked]="selec" (click)="d(item.id)"></td>
        <td colspan="1">{{item.no}}</td>
        <td colspan="2">{{item.fecha}}</td>
        <td colspan="2">{{item.tipo}}</td>
        <td colspan="2">{{item.tipo_doc.tipo}}</td>
        <td colspan="2">{{item.procedencia || item.enviado}}</td>
        <td colspan="5">{{item.titulo || item.asunto}}</td>
        <td colspan="3">
          <button class="btn btn-firstcolor" (click)="openPdf(item)"><i class="bi bi-file-earmark-pdf"></i></button>
          &nbsp;
          <button class="btn btn-firstcolor" (click)="edit(item)"><i class="bi bi-pencil"></i></button>
          &nbsp;
          <button class="btn btn-firstcolor" (click)="delete(item.id,item)" *ngIf="storage.retrieve('usuario').usuario.rol=='admin'"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>