<div class="contenedor" id="cont">
    <div class="title-page">
        <div class="title-logo">
            <i class="bi bi-archive text-oscuro"></i>
            <h1 class="title text-oscuro" style="margin-top:-15px">Reportes</h1>
        </div>
        <p class="text-oscuro">Reportes de todos los tipos de documentos </p>

        <div class="actions">
            <!-- <div class="mi-select">
                <input type="text" name="seleccionado" id="seleccionado" class="input-seleccion" (click)="onChange($event.target)" [(ngModel)]="inputExit"
                    placeholder="Seleccionar tipo(s)">
                <div class="listado input-seleccion" *ngIf="mostrarListado" >
                    <li id="itemlist" [ngClass]="{'active': tipos.indexOf(item.value)!=-1}" *ngFor="let item of opciones" (click)="addORRemove(item)">{{item.name}}</li>
                </div>
            </div> -->
            <app-multiselect [opciones]="opciones" (emisor)="salida($event)"></app-multiselect>

            <button class="btn btn-firstcolor1" (click)="addClasificados()">Nuevo Documento
                <i style="font-size: 20px;" class="bi bi-file-earmark-plus"></i>
            </button>

            <button (click)="deleteAll()" id="deleteAll" class="btn btn-firstcolor1">Eliminar Todo
                <i style="margin:5px; font-size: 20px;" class="bi bi-trash"></i>
            </button>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="selecc()">
        <label class="form-check-label" for="flexCheckDefault">
            Seleccionar Todo
        </label>
    </div>
    <table class="tablas">
        <thead class="head">
            <td></td>
            <td>id</td>
            <td>no</td>
            <td>fecha</td>
            <td>imagen</td>
            <td>tipo</td>
            <td>acciones</td>
        </thead>
        <app-loading [loading]="loading" [message]="server"></app-loading>
        <tr *ngFor="let item of reportes" class="ligth" (click)="detailToggle(item)">
            <td><input class="form-check-input" name="checkbox" [checked]="selec" type="checkbox" (click)="d(item)">
            </td>
            <td>{{item.id}}</td>
            <td>{{item.no}}</td>
            <td>{{item.fecha}}</td>
            <td><img [src]="item.imagen" alt="" width="80" height="80"></td>
            <td>{{item.tipo_doc.name}}</td>
            <td><button class="btn btn-firstcolor" (click)="editClasificados(item)"><i
                        class="bi bi-pencil"></i></button>
            <button class="btn btn-firstcolor" (click)="deleteReportes(item)"><i
                        class="bi bi-trash"></i></button></td>

        </tr>

    </table>
</div>